.g-container{
    max-width: 1944px;
    padding: 0 12px;
    margin: 0 auto;
}
.g-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    max-width: 244px;
    height: 60px;
    background-color: var(--black);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #f8f200;
    white-space: nowrap;
    line-height: 200%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.g-button:hover{
    background-color: var(--span-text);
    color: var(--black);
    border: none;
}
.g-button:active{
    scale: 0.95;
}