/* MOBILE */
.promotion {
    margin-top: 70px;
    background-color: var(--yellow);
    padding: 70px 0;
}

.promotion__image {
    width: 100%;
    height: 204px;
    aspect-ratio: 74/51;
}

.promotion__logos {
    padding-top: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 13px;
}

.promotion__card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.promotion__card-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    color: var(--black);
}

.promotion__card-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--black);
}

.promotion__card-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.promotion__card-list-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

.promotion__card-list-text::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    background-image: url('../img/vectors/Vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promotion__card-list-text:nth-child(2):before {
    width: 22px;
    height: 22px;
    background-image: url('../img/vectors/Vector\ \(3\).svg');
    position: relative;
    top: 2px;
}

.promotion__card-list-text:nth-child(3):before {
    width: 20px;
    height: 20px;
    background-image: url('../img/vectors/Vector\ \(2\).svg');
    position: relative;
    top: 2px;
}

.g-button--promotion {
    margin-top: 40px;
    padding: 15px 50px;
    max-width: 184px;
    width: 100%;
    font-size: 16px;
}

/* TABLET */
@media(min-width:1024px) {
    .promotion {
        margin-top: 70px;
        background-color: var(--yellow);
        padding: 70px 0;
    }

    .g-container--promo {
        padding: 0 36px;
        display: grid;
        grid-template-columns: 460px 460px;
        grid-template-areas:
            "img1 img3"
            "img2 img3";
        column-gap: 32px;
        row-gap: 25px;
        align-items: center;
        justify-content: center;
    }

    .promotion__image {
        max-width: 460px;
        height: 317px;
        grid-area: img1;
        margin: auto;
        aspect-ratio: 460/371;
        padding: 0;
        position: relative;
        top: 42px;
    }

    .promotion__logos {
        grid-area: img2;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .promotion__logos-logo:nth-child(1) {
        width: 80px;
        height: 80px;
    }

    .promotion__logos-logo:nth-child(2) {
        width: 90px;
        height: 21px;
    }

    .promotion__logos-logo:nth-child(3) {
        width: 320px;
        height: 80px;
        position: relative;
        bottom: 42px;
        margin-top: 25px;
    }

    .promotion__card {
        grid-area: img3;
    }

    .promotion__card {
        margin-top: 0;
    }

    .promotion__card-title {
        font-size: 62px;
    }

    .promotion__card-text {
        font-size: 18px;
        line-height: 189%;
    }

    .promotion__card-list {
        gap: 20px;
    }

    .promotion__card-list-text {
        font-size: 18px;
    }

    .g-button--promotion {
        max-width: 194px;
        width: 100%;
        font-size: 18px;
    }
}

/* PC */
@media(min-width:1920px) {
    .promotion {
        padding: 70px 0 80px;
    }

    .g-container--promo {
        padding: 0 320px;
        grid-template-columns: 624px 624px;
    }

    .promotion__image {
        max-width: 624px;
        height: 430px;
        aspect-ratio: 624/430;
        position: static;
    }

    .promotion__logos {
        flex-direction: row;
        justify-content: center;
    }

    .promotion__logos-logo:nth-child(3) {
        width: 320px;
        height: 80px;
        position: static;
        margin-top: 0;
    }
}